<fieldset>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title, :disabled => true %>
  </p>
  <p>
    <%= form.label :motto %>
    <%= form.text_field :motto %>
  </p>  
</fieldset>

<fieldset>
  <p>
    <%= form.label :schedule_url, 'Pentabarf Schedule XML URL' %>
    <%= form.text_field :schedule_url %>
  </p>
</fieldset>

<fieldset>
  <p>
    <%= form.label :blackout, 'Blackout Screen' %>
    <%= form.check_box :blackout %>
  </p>
</fieldset>
