<%- even = false unless defined? even -%>
<%- content_tag_for(:li, event, :class => (even ? 'even' : nil)) do -%>
  <div class="start_time">
    <%= l(event.start_time, :format => :long) %> 
    <%- if event.start_time < Time.now && event.end_time > Time.now  -%>
    Running
    <%- else -%>
    <%= l(event.start_time, :format => :time) %> 
    <%- end -%>
  </div>
  <dl>
    <dt class="title"><%= h(event.title) %></dt>
    <dt class="subtitle"><%= h(event.subtitle) %></dt>
    <dd  class="people">
      <%= h(event.people.select{|i| !i.name.blank?}.collect(&:name).join(', ')) %>
    </dd>
  </dl>  
<%- end -%>