<%= content_for :javascript do %>
  <%= javascript_include_tag 'events' %>
<% end %>


<h5>
  <%= @conference.title %><%= "– #{@conference.motto}" unless @conference.motto.blank? %>
</h5>
<h1>&nbsp;Upcoming events</h1>

<%- @other_rooms.each do |room| -%>
  <div class="other_rooms room">
    <h3><%= room.name %></h3>
    <ul class="events" id="room_<%= room.id %>_events">
    </ul>
  </div>
  
  <%= periodically_refresh_room(room) %>
  
<%- end -%>


<div class="this_room room">
  <h2><%= @room.name %></h2>
  
  <ul class="events" id="room_<%= @room.id %>_events">
    
  </ul>
  <%= periodically_refresh_room(@room, Event::MAX_THIS_ROOM_EVENTS) %>
</div>

<%= content_for(:javascript) do -%>
  <%= javascript_tag do %>
  $(document).ready(function() {
    $(function($) {
      var options = {
        format: '%d %b %H:%M' // 24-hour
      }          
      $('.jclock').jclock(options);
    });
    
  });
  <% end %>
  
<%- end -%>

<%= content_for(:notification) do -%>
  <%= render :partial => "shared/clock" %>
<%- end -%>
