<% content_for :javascript do %>
  <%= javascript_include_tag 'events' %>
<% end %>

<h1><span class="current">26C3</span>&nbsp;Upcoming events</h1>

<%- @other_rooms.each do |room| -%>
  <div class="other_rooms room">
    <h3><%= h(room.name) %></h3>
    <ul class="events" id="room_<%= room.id %>_events">
    </ul>
  </div>
  
  <%= periodically_refresh_room(room) %>
  
<%- end -%>


<div class="this_room room">
  <h2><%= h(@room.name) %></h2>
  
  <ul class="events" id="room_<%= @room.id %>_events">
    
  </ul>
  <%= periodically_refresh_room(@room) %>
</div>

<%- content_for(:javascript) do -%>
  <% javascript_tag do %>
  $(document).ready(function() {
    $(function($) {
      var options = {
        format: '%d %b %H:%M' // 24-hour
      }          
      $('.jclock').jclock(options);
    });
    
  });
  <% end %>
  
<%- end -%>

<%- content_for(:notification) do -%>
  <%= render :partial => "shared/clock" %>
<%- end -%>
