<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
  	<title><%= @conference.title if @conference %></title>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  	<%= stylesheet_link_tag 'default' %>
  	<%= javascript_include_tag 'jquery-1.3.2.min', 'jquery.timers', 'jquery.jclock' %>
  	
   <%= javascript_tag do %>
    $(function() {
      setTimeout( "window.location.reload()", <%= Event::PAGE_RELOAD_TIME %> ); 
    });
  <% end %>
  	
  	<%= yield :javascript %>
  	
  </head>
  
  <body>
    <div id="notification">
      <%= yield :notification %>
    </div>
    <div id="wrap">
      <%= yield %>
    </div>
    <div id="superwrap">
      &nbsp;
    </div>    
  </body>
</html>
